{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">

        {% include 'tools_sidebar.html' %}
        <!-- Правая часть страницы -->
        <div class="col-md-8">
          <h2>Скачать конфигурацию Swarco</h2>
          <div id="main_data">
            {% csrf_token %}
            <div class="form-group row mb-2">
              <div class="col-9 d-flex align-items-center">
                <div class="col-md-5">
                  <input type="text" class="form-control" placeholder="Поиск по номеру СО"  id="search_controller">
                </div>
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                  <input type="radio" class="search_parameter form-check-input"  value="use_search_in_db" name="search_option" checked id="by_search_in_db">
                </div>
              </div>
            </div>
            <div class="form-group row mb-2">
              <div class="col-9 d-flex align-items-center">
                <div class="col-md-5">
                  <input type="text" class="form-control" disabled placeholder="ip-адресс ДК"  id="ip_controller" maxlength="15">
                </div>
                <div class="col-md-1 d-flex justify-content-center align-items-center">
                  <input type="radio" class="search_parameter form-check-input" value="use_ip" name="search_option" id="by_ipAddr">
                </div>
                <div class="col-md-5">
                  <select disabled id="type_controller_from_user" style="display: none;" class="form-control">
                    <option value="Swarco"> Swarco </option>
                  </select>
                </div>
              </div>
            </div>

            Результат поиска: <br>
            <div class="form-group row mb-2">
              <label id="ip_addr">IP-адресс ДК :<label class="search_result_content" id="ip_addr_val"></label></label> <br>
              <label id="type_controller">Тип ДК: <label class="search_result_content" id="type_controller_val"></label></label> <br>
              <label id="address">Адресс: <label class="search_result_content" id="address_val"></label></label> <br>
              <label id="descripton">Описание: <label class="search_result_content" id="description_val"></label></label> <br>
            </div>
            <div class="form-group row mb-2 ">
            <div class="col-md-3 mr-2" style="margin-left: 10px; width: 267px;">
              <div class="form-group row">
                <button id="get_config" class="btn btn-primary" disabled> Отправить запрос </button><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/download_config.js'%}"></script>

{% endblock %}