:root {
    --header-bcg: #090909;
    --body-bcg: #212121;
    --footer-bcg: #4abe48;
    --sidebar-bgc: #171717;
    --sidebar-border: #000000;
    --theme: #424242;
    --active-hdr: #424242;
    --active-sbr: #676767;
    --line-hdr: #b4b4b4;

    --text1: #ececec;
    --text2: #ececec;
    --text3: #d3d3d3;
    --text4: #cdcdcd;
    --text5: #000000;

    --green1: #344f37;
    --hover-hdr: #2e2f47;
    --hover-sbr: #2e2f47;

    --gray-50: #1e1e1e;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-500: #9b9b9b;
    --gray-750: #2f2f2f;
    --gray-950: #0d0d0d;
    --gray-960: #090909;
    --gray-970: #050505;
    --gray-980: #020202;

    --body: rgb(64, 63, 70);
    --modal: rgba(0, 0, 0, 0.5);
  }