:root {
    --header-bcg: #4879be;
    --body-bcg: #ebebeb;
    --footer-bcg: #4abe48;
    --sidebar-bgc: #8ea4b8;
    --sidebar-border: #407fbb;
    --theme: #566c9d;
    --active-hdr: #546992;
    --active-sbr: #68839d;
    --line-hdr: #b4b4b4;
  
    --text1: #ececec;
    --text2: #30435dd7;
    --text3: #142440;
    --text4: #ffffff;
    --text5: #d5d5d5;
    --text6: #676d78;
    --text7: #14223d;

    --border: #0e1a49c8;
    --text-bcg: #e1e4ec;
    --text-bcg-1: #c9c9c9;
    --text-bcg-2: #f5f5f5;
    --text-bcg-3: #fbfbfb;
    --text-bcg-4: #fbfbfb;

    --button-1-bgc: #3b75ab;
    --button-2-bgc: #407fbb;
    --button-3-bgc: #407fbb;

    --green1: #344f37;
    --hover-hdr: #94a9cd;
    --hover-sbr: #5e81bd;

    --gray-50: #1e1e1e;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-500: #9b9b9b;
    --gray-750: #2f2f2f;
    --gray-950: #0d0d0d;
    --gray-960: #090909;
    --gray-970: #050505;
    --gray-980: #020202;

    --body: rgb(64, 63, 70);
    --modal: rgba(93, 139, 151, 0.667);
    --modal-sdw: rgba(210, 206, 171, 0.429);
  }