/* Темная тема */
body.dark-theme {
  --header-bcg: #1d1c26;
  --body-bcg: #2c2d33;
  --footer-bcg: #4abe48;
  --sidebar-bgc: #25282f;
  --sidebar-border: #000000;
  --theme: #424242;
  --active-hdr: #424242;
  --active-sbr: #5d738b;
  --line-hdr: #b4b4b4;

  --text1: #ececec;
  --text2: #b1b1b1;
  --text3: #d3d3d3;
  --text4: #cdcdcd;
  --text5: #000000;
  --text6: #9ea1a7;
  --text7: #b6bbc6;

  --border: #000000;
  --text-bcg: #42454a;
  --text-bcg-1: #3e4954;
  --text-bcg-2: #1d1e1f;
  --text-bcg-3: #131313;
  --text-bcg-4: #666b6f;
  --text-bcg-5: #4a4f53;
  --text-bcg-6: #949da4;

  --button-1-bgc: #3c3a46;
  --button-2-bgc: #524f69;
  --button-3-bgc: #9c95d2;
  --button-4-bgc: #b22c2c;

  --green1: #8cafb2;
  --hover-hdr: #2e2f47;
  --hover-sbr: #535f74;

  --gray-50: #1e1e1e;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-500: #9b9b9b;
  --gray-750: #2f2f2f;
  --gray-950: #0d0d0d;
  --gray-960: #090909;
  --gray-970: #050505;
  --gray-980: #020202;

  --body: rgb(64, 63, 70);
  --modal: rgba(0, 0, 0, 0.5);
  --modal-sdw: rgba(0, 0, 0, 0.5);
}

/* Светлая тема */
body {
  --header-bcg: #4879be;
  --body-bcg: #ebebeb;
  --footer-bcg: #4abe48;
  --sidebar-bgc: #8ea4b8;
  --sidebar-border: #407fbb;
  --theme: #8ea4b8;
  --active-hdr: #546992;
  --active-sbr: #68839d;
  --line-hdr: #b4b4b4;

  --text1: #ececec;
  --text2: #30435dd7;
  --text3: #142440;
  --text4: #ffffff;
  --text5: #d5d5d5;
  --text6: #676d78;
  --text7: #14223d;

  --border: #0e1a49c8;
  --text-bcg: #e1e4ec;
  --text-bcg-1: #c9c9c9;
  --text-bcg-2: #f5f5f5;
  --text-bcg-3: #fbfbfb;
  --text-bcg-4: #fbfbfb;
  --text-bcg-5: #d7dde2;
  --text-bcg-6: #ffffff;

  --button-1-bgc: #3b75ab;
  --button-2-bgc: #407fbb;
  --button-3-bgc: #407fbb;
  --button-4-bgc: #b22c2c;

  --green1: #7ac483;
  --hover-hdr: #94a9cd;
  --hover-sbr: #5e81bd;

  --gray-50: #1e1e1e;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-500: #9b9b9b;
  --gray-750: #2f2f2f;
  --gray-950: #0d0d0d;
  --gray-960: #090909;
  --gray-970: #050505;
  --gray-980: #020202;

  --body: rgb(64, 63, 70);
  --modal: rgba(93, 139, 151, 0.667);
  --modal-sdw: rgba(210, 206, 171, 0.429);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.4s ease;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--body);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem; 
}
.title {
  background-color: var(--text-bcg-1);
  border-radius: 6px;
  padding: 0px 4px 1px 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--button-1-bgc);
  border: 1px solid var(--border);
  color: var(--gray-200);
  padding: 6px 15px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--button-2-bgc);
  }

  &:focus {
    outline: none;
    border-color: var(--gray-600);
  }
}

.red-button {
  background-color: var(--button-4-bgc);
}

.custom-file-input {
  width: 100%;
  padding: 2px 6px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--button-1-bgc);
  background-clip: padding-box;
  border: 1px solid var(--text5);
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: #219cc5;
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--text-bcg-5)
  }


  &:read-only {
    background-color: var(--text-bcg-5);
  }
}

.custom-file-input::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  margin-right: 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--text-bcg-6);
  border: 0;
  border-radius: 0.375rem 0 0 0.375rem;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--green1);
  }
}

.tool-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 700px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-sdw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--modal); 
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.modal-output {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.minitext {
  background-color: var(--text-bcg-2); 
  border: 1px solid var(--border);    
  font-size: 14px;
  color: var(--text7);
  padding: 2px 2px 2px 6px;
  border-radius: 6px;
  width: 100%;
  font-family: monospace;
  resize: vertical;
  height: auto;
  
  &:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  &::placeholder {
    color: var(--gray-500);
  }
}

.minitextarea {
  background-color: var(--text-bcg-2); 
  border: 1px solid var(--border);    
  font-size: 14px;
  color: var(--text7);
  padding: 6px 2px 12px 12px;
  border-radius: 6px;
  width: 100%;
  font-family: monospace;
  resize: vertical;
  min-height: 140px;
  height: auto;
  
  &:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  &::placeholder {
    color: var(--gray-500);
  }
}

.text {
  background-color: var(--text-bcg); 
  border: 1px solid var(--border);    
  font-size: 23px;
  color: var(--text6);
  padding: 2px 2px 2px 12px;
  border-radius: 6px;
  width: 100%;
  font-family: monospace;
  
  &:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  &::placeholder {
    color: var(--gray-500);
  }
}

.width-12-chars {
  width: 12ch;
  font-family: monospace;
}

.text_ {  
  font-size: 23px;
  color: var(--text6);
  padding: 2px 2px 2px 12px;
  border-radius: 6px;
  width: 100%;
  font-family: monospace;
  
  &:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  &::placeholder {
    color: var(--gray-500);
  }
}

.width-12-chars {
  width: 12ch;
  font-family: monospace;
}

.select {
  background-color: var(--text-bcg); 
  border: 1px solid var(--border);    
  font-size: 23px;
  color: var(--text6);
  padding: 0px 2px 2px 12px;
  border-radius: 6px;
  width: 100%;
  font-family: monospace;
  
  &:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  &::placeholder {
    color: var(--gray-500);
  }
}


.function-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 2px 3px 5px;
  border-radius: 4px;
  background-color: var(--text-bcg-4);
  border: 1px solid var(--border);
  width: 12ch;

  input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 3px;
    background-color: var(--text-bcg-1);
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:hover {
      border-color: var(--button-1-bgc);
    }

    &:checked {
      background-color: var(--button-1-bgc);
      border-color: var(--button-1-bgc);

      &::after {
        content: "✔";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12px;
        color: var(--text1);
      }
    }

    &:checked:hover {
      background-color: var(--button-2-bgc);
      border-color: var(--button-1-bgc);
    }

  }

  label {
    color: var(--text3);
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: var(--button-2-bgc);
    }
  }
}