* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--body);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--gray-700);
    border: 1px solid var(--gray-960);
    color: var(--gray-200);
    padding: 6px 15px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 1.3s ease
  }
  button:hover {
    background-color: var(--gray-600);
  }
  
  button:focus {
    outline: none;
    border-color: var(--gray-600);
  }

  .tool-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 700px;
  }
  
  .hidden {
    display: none;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: var(--gray-600); 
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modal-output {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
  }
  
  input[type="text"],
  textarea {
    background-color: var(--gray-700); 
    border: 1px solid var(--gray-800);    
    color: var(--gray-200);             
  
  }
  
  input[type="text"]:focus,
  textarea:focus {
    border-color: var(--gray-600); 
    outline: none; 
  }
  
  input[type="text"]::placeholder,
  textarea::placeholder {
    color: var(--gray-500);
  }
  
  select {
    background-color: var(--gray-300);
    border: 1px solid var(--gray-800);
    color: var(--gray-990);
    padding: 3px;
  }