.sidebar {
  background: var(--sidebar-bgc);
  width: 100%;
  max-width: 252px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--sidebar-border);
  flex-shrink: 0;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text4);
  cursor: pointer;
  border-radius: 2px;
  transition: background 0.2s ease;

  &:hover {
    background: var(--hover-sbr);
  }
}

.sidebar__item--active {
  background-color: var(--active-sbr);
  color: var(--text5);
}
