/* Темная тема */
body.dark-theme {
    --header-bcg: #1f2225;
    --body-bcg: #111113;
    --footer-bcg: #4abe48;
    --sidebar-bgc: #1d1d1d;
    --sidebar-border: #000000;
    --theme: #424242;
    --active-hdr: #33495f;
    --active-sbr: #2a3038;
    --line-hdr: #b4b4b4;
    --info: #2c2d33;
    --info-2: #2c2d33;
    --info-3: #26262d;
    --div: #1a1a1b;
    --rule-name: #353d3f;
    --notes: #373c41;
    --container: #1b1b1c56;
    --bracket: #ffffff;
  
    --text1: #ececec;
    --text2: #b1b1b1;
    --text3: #d3d3d3;
    --text4: #cdcdcd;
    --text5: #000000;
    --text6: #9ea1a7;
    --text7: #b6bbc6;
    --text8: #000000c0;
    --text9: #afb1b3;
    --text10: #6b6f74;
  
    --border: #000000;
    --border-2: #000000;
    --text-bcg: #26272a;
    --text-bcg-1: #2c2e31;
    --text-bcg-2: #1d1d1d;
    --text-bcg-3: #131313;
    --text-bcg-4: #1f2123;
    --text-bcg-5: #4a4f53;
    --text-bcg-6: #4d5154;
    --text-bcg-7: #575757;
    --text-bcg-8: #1a1e20;
    --text-bcg-9: #2f3539;
  
    --button-1-bgc: #292b2f;
    --button-2-bgc: #3a3c46;
    --button-3-bgc: #445c75;
    --button-4-bgc: #b22c2c;
    --button-5-bgc: #4a4a4a68;
  
    --green1: #638464;
    --green2: #638464;
    --hover-hdr: #333f53;
    --hover-sbr: #31333a;
    --yellow: #997a40;
  
    --display-bgc:#1b1f20;
    --display-txt-1:#637261;
    --display-txt-2:#99af97;
  
    --gray-50: #1e1e1e;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-500: #9b9b9b;
    --gray-750: #2f2f2f;
    --gray-950: #0d0d0d;
    --gray-960: #090909;
    --gray-970: #050505;
    --gray-980: #020202;
  
    --body: rgb(64, 63, 70);
    --modal: rgba(0, 0, 0, 0.5);
    --modal-sdw: rgba(0, 0, 0, 0.5);
  }
  
  /* Светлая тема */
  body {
    --header-bcg: #4879be;
    --body-bcg: #ebebeb;
    --footer-bcg: #4abe48;
    --sidebar-bgc: #8ea4b8;
    --sidebar-border: #407fbb;
    --theme: #8ea4b8;
    --active-hdr: #546992;
    --active-sbr: #68839d;
    --line-hdr: #b4b4b4;
    --info: #ebebeb;
    --info-2: #f8f9fa;
    --info-3: #f8f9fa;
    --div: #ffffff;
    --rule-name: #7a8bab;
    --notes: #7a90ab;
    --container: #ffffff78;
    --bracket: #ffffff;
    
    --text1: #ececec;
    --text2: #30435dd7;
    --text3: #142440;
    --text4: #ffffff;
    --text5: #d5d5d5;
    --text6: #676d78;
    --text7: #14223d;
    --text8: #676d78;
    --text9: #3e475d;
    --text10: #9ea4ac;    
  
    --border: #0e1a49c8;
    --border-2: #bfbfbfc8;
    --text-bcg: #e1e4ec;
    --text-bcg-1: #c9c9c9;
    --text-bcg-2: #f5f5f5;
    --text-bcg-3: #fbfbfb;
    --text-bcg-4: #eaedf5;
    --text-bcg-5: #d7dde2;
    --text-bcg-6: #ffffff;
    --text-bcg-7: #e2e2e2;
    --text-bcg-8: #b7c8d4;
    --text-bcg-9: #d9e8f0;
  
    --button-1-bgc: #3b75ab;
    --button-2-bgc: #407fbb;
    --button-3-bgc: #407fbb;
    --button-4-bgc: #b22c2c;
    --button-5-bgc: #cbcbcb;
  
    --green1: #7ac483;
    --green2: #e3f1e3;
    --hover-hdr: #94a9cd;
    --hover-sbr: #5e81bd;
    --yellow: #d8b163;
  
    --display-bgc:#e0ecdd;
    --display-txt-1:#4e634a;
    --display-txt-2:#3b1f06;
  
    --gray-50: #1e1e1e;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-500: #9b9b9b;
    --gray-750: #2f2f2f;
    --gray-950: #0d0d0d;
    --gray-960: #090909;
    --gray-970: #050505;
    --gray-980: #020202;
  
    --body: #d3d7df;
    --modal: rgba(93, 139, 151, 0.667);
    --modal-sdw: rgba(210, 206, 171, 0.429);
  }
  